
@import './blocks/promo';
@import './blocks/about';
@import './blocks/menu';
@import './blocks/btn';
@import './blocks/modal';
@import './blocks/carusel';
@import './blocks/portfolio';
@import './blocks/hamburger';
@import './blocks/pageup';
@import './blocks/media';

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


.container {
	width: 1140px;
	margin: 0 auto;
}
a {
    text-decoration: none;
}

