.portfolio {
    background: linear-gradient(180deg, #63ceee 5%, #fdfdff 10%,);
    padding:50px 0;
    display: flex;
    text-align: center;
    &__wrapper {
        padding: 0 40px;
    }
    &__title {
        font-size: 42px;
        font-weight: bold;
        text-transform: uppercase;
    }
    &__subtitle {
        display: flex;
        margin-top: 30px;
        align-items: center;
        justify-content: flex-end;
        font-size: 30px;
        font-weight: 200;
    }
    &__img {
        width: 200px;
        img {
            width: 100%;
            border-radius:200%;
        }
    }
    &__item {
        display: block;
        margin-top: 80px;
        img {
            width: 100%;
            box-shadow: 0 10px 15px 10px #63ceee;
            border-radius: 40px;
            &:hover {
                transform: scale(1.2);
                transition: all 0.9s ease;
            }
            
        }
    }
}